<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{template.html}">

<head>
  <meta charset="utf-8">
  <title>Create produit</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css">
</head>

<body>

<div layout:fragment="Mycontent">
  <div class="container">
    <div class="card-body">
      <form action="saveProduit" method="get">
        <div class="mb-3">
          <label class="form-label">Nom Produit :</label>
          <input type="text" name="nomProduit" class="form-control" th:value="${produit.nomProduit}" required/>
          <span th:errors="${produit.nomProduit}" class="text-danger"></span>
        </div>
        <div class="mb-3">
          <label class="form-label">Prix Produit :</label>
          <input type="text" name="prixProduit" class="form-control" th:value="${produit.prixProduit}" required/>
          <span th:errors="${produit.prixProduit}" class="text-danger"></span>
        </div>
        <div class="mb-3">
          <label class="form-label">date création :</label>
          <input type="date" name="dateCreation" class="form-control" th:value="${produit.dateCreation}" required/>
          <span th:errors="${produit.dateCreation}" class="text-danger"></span>
        </div>
        <div class="mb-3">
          <div class="input-group">
            <label class="input-group-text">Categorie</label>
            <select class="form-select" aria-label="Default select example" name="categorieId" required>
              <option th:each="categorie:${CategorieList}" th:value="${categorie.getIdCat()}"
                      th:text="'Categorie : ' + ${categorie.getIdCat()} + ' '  + ${categorie.getNomCat()}">
              </option>
            </select>
          </div>
        </div>

        <div>
          <button type="submit" class="btn btn-primary">Ajouter</button>
        </div>
      </form>
    </div>
    <div th:if="${msg}">
      <p th:text="'Message: ' + ${msg}"></p>
    </div>
    <br/>
    <br/>
    <a href="ListeProduits" th:href="@{ListeProduits}">Liste Produits</a>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>
